html {
    height: 100%;
}

body {
    background-color: #b8bdc2;
    position: relative;
    height: 100%;
}

.wrapper {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
    font-size: large;
    line-height: 1.5rem;
    position: relative;
    min-height: 100%;
}

main {
    padding: 1rem 1rem 1rem 1rem;
    align-self: center;
    justify-content: center;
    padding-bottom: 4rem;
}

h1 {
    font-weight: 600;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

h2 {
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

/*-----------------*/
/*     NAVBAR      */
/*-----------------*/

.navbar-brand {
    display: flex;
    float: left;
    align-items: center;
    font-size: 1.5rem;
    color: black;
    padding: 0.5rem;
}

#navbar-brand-logo {
    width: 4rem;
    margin-right: 0.5rem;
}

/*-------MENU BURGER-------*/
a {
    color: #000;
}

.navbar {
    background-color: #fff;
    box-shadow: 00rem 0.1rem 0.4rem rgba(29, 44, 83);
    min-height: 4.5rem;
    width: 100%;
    z-index: 3;
    position: relative;
    align-items: center;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.navbar li a {
    display: block;
    padding: 1.5rem 1rem;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}

.navbar li a:hover,
.navbar .menu-btn:hover {
    background-color: #f4f4f4;
}

.navbar .menu {
    clear: both;
    max-height: 0;
    transition: .2s ease-out;
}

/* menu icon */

.navbar .menu-icon {
    cursor: pointer;
    float: right;
    position: relative;
    user-select: none;
    padding: 2rem;
}

.navbar .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    width: 18px;
}

.navbar .menu-icon .navicon:before,
.navbar .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.navbar .menu-icon .navicon:before {
    top: 5px;
}

.navbar .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.navbar .menu-btn {
    display: none;
}

.navbar .menu-btn:checked~.menu {
    max-height: 100%;
}

.navbar .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.navbar .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.navbar .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.navbar .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.navbar .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/*------------------------*/

.container {
    align-items: flex-start;
    align-content: center;
    filter: drop-shadow(3px 3px 1px rgba(66, 84, 116, 0.719));
    transition-duration: 0.5s;
}

.container:hover:not(.container-portrait){
    filter: drop-shadow(5px 5px 0 rgb(255, 255, 255));
    transition-duration: 0.5s;
}



.card {
    padding: 2rem 2rem 0.8rem 2rem;
    border-radius: 1rem;
    background-color: rgb(36, 48, 70);
    color: white;
    min-width: fit-content;
    margin-bottom: 0.5rem;
}

.description {
    padding-bottom: 2rem;
}

.container .portrait {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.portrait img {
    width: 15rem;
    border-radius: 50%;

}

/*-----------------*/
/*     SKILLS      */
/*-----------------*/

.skills {
    list-style: none;
    font-size: large;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skills li {
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    padding-right: 2rem;
    width: 7rem;
    align-items: center;
}

.skills li img {
    float: left;
}

.skills li p {
    text-align: center;
}


img.skills-logo {
    width: 2rem;
    padding-right: 0.5rem;
}

/*-----------------*/
/*     FOOTER      */
/*-----------------*/

footer p {
    padding-bottom: 0;
    padding: 1rem;
}

#footer {

    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*------------------*/
/*   MEDIAQUERIES   */
/*------------------*/

@media screen and (min-width: 768px) {

    main :not(h1) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .container-description .container {
        flex-direction: column;
    }

    .portrait {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        margin-right: 8rem;
        
    }

    .card {
        margin: 0.5rem;
    }

    .description {
        max-width: 25rem;
    }

    .container .card.description:nth-of-type(1),
    .card.description:nth-of-type(3) {
        margin-left: -25%;
        margin-right: 25%;
    }

    .container-description {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .skills {
        max-width: 18rem;
    }


    /*-------MENU BURGER-------*/
    .navbar li {
        float: left;
    }

    .navbar .menu {
        clear: none;
        float: left;
        max-height: none;
        padding-left: 2rem;
    }

    .navbar .menu-icon {
        display: none;
    }

    /*--------------------------*/
}