html {
    height: 100%;
}

body {
    background-color: #b8bdc2;
    position: relative;
    height: 100%;
    font-size: 1.25rem;
}

.wrapper {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
    line-height: 1.5rem;
    position: relative;
    min-height: 100%;
}

main {
    padding: 1rem 1rem 1rem 1rem;
    align-self: center;
    justify-content: center;
    padding-bottom: 4rem;
}

h1 {
    font-weight: 600;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

h2 {
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

/*-----------------*/
/*     NAVBAR      */
/*-----------------*/

.navbar {
    background-color: #fff;
    box-shadow: 0 0.1rem 0.4rem rgba(66, 84, 116, 0.7);
    min-height: 4.5rem;
    width: 100%;
    z-index: 3;
    position: relative;
    align-items: center;
    font-size: 1.25rem;
}

.navbar ul {
    
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.navbar-brand {
    display: flex;
    float: left;
    align-items: center;
    font-size: 1.5rem;
    color: black;
    padding : 0.5rem;
}

.navbar-brand span {
    font-size: 1.89rem;
    line-height: initial;
    font-weight: 400;
    text-transform: uppercase;
    
}

#navbar-brand-logo {
    width: 4rem;
    margin: -0.3rem 0.5rem -0.25rem 0;
}

nav a {
    color: #000;
}

.navbar li a {
    display: block;
    padding: 1.5rem 1rem;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}

.navbar li a:hover, 
.navbar .menu-btn:hover {
    background-color: #f4f4f4;
}

.navbar li a:focus {
    font-weight: 400;
}

.navbar .menu {
    clear: both;
    max-height: 0;
    transition: .2s ease-out;
}



.theme {
    display: none;
}

/* menu icon */

.navbar .menu-icon {
    cursor: pointer;
    float: right;
    position: relative;
    user-select: none;
    padding: 2rem;
}

.navbar .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    width: 18px;
}

.navbar .menu-icon .navicon:before,
.navbar .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.navbar .menu-icon .navicon:before {
    top: 5px;
}

.navbar .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.navbar .menu-btn {
    display: none;
}

.navbar .menu-btn:checked~.menu {
    max-height: 100%;
}

.navbar .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.navbar .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.navbar .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.navbar .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.navbar .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/*------------------------*/

.container {
    align-items: flex-start;
    align-content: center;
}

.card {
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 1rem;
    background-color: rgb(36, 48, 70);
    color: white;
    min-width: fit-content;
    margin-bottom: 0.5rem;
    filter: drop-shadow(0.2rem 0.3rem 0.15rem rgba(56, 74, 104, 0.7));
    transition-duration: 0.6s;
}

.card-skills {
    padding: 2rem 2rem 0 2rem;
}

.card:hover {
    filter: drop-shadow(0.4rem 0.5rem 0 rgb(255, 255, 255));
    transition-duration: 0.1s;
}

.description {
    padding-bottom: 2rem;
}

.container .big-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding : 1rem 0 2rem 0;
    filter: drop-shadow(0.15rem 0.15rem 0.1rem rgba(66, 84, 116, 0.7));
}

.big-logo img {
width: 30rem;
animation: shake 30s;
animation-iteration-count: infinite;
}
/*
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
*/
@keyframes shake {
    0% {transform: translateX(0);}
    50% {transform:  rotate(-30deg);} 
    100% {transform:  rotate(30deg);} 

 } 

.container .portrait {
    display: flex;
    align-items: center;
    justify-content: center;
    padding : 1rem 0 2rem 0;
    border-radius: 50%;
    filter: drop-shadow(0.15rem 0.15rem 0.1rem rgba(66, 84, 116, 0.7));
}

.container .portrait img {
    width: 15rem;
    border-radius: 50%;
}

/*-----------------*/
/*     SKILLS      */
/*-----------------*/

.skills {
    list-style: none;
    font-size: large;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skills li {
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    padding-right: 2rem;
    width: 7rem;
    align-items: center;
}

.skills li img {
    float: left;
}

.skills li p {
    text-align: center;
}

img.skills-logo {
    width: 2rem;
    padding-right: 0.5rem;
}

/*-----------------*/
/*     FOOTER      */
/*-----------------*/

footer {
    position: absolute;
    bottom: 0;    
    background-color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    padding: 1rem 0 1rem 0;
}

footer span{
    font-family:monospace;
    vertical-align: middle;
}

/*------------------*/
/*   MEDIAQUERIES   */
/*------------------*/

@media screen and (min-width: 768px) {

    main {
        padding-bottom: 5rem;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .container-description .container {
        flex-direction: column;
    }

    .portrait {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        margin-right: 8rem;
        margin-left: 5rem;

    }

    .card {
        margin: 0.5rem;
    }

    .description {
        max-width: 25rem;
    }

    .container .card.description:not(:nth-of-type(2)) {
        margin-left: -25%;
        margin-right: 25%;
    }

    .container-description {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .skills {
        max-width: 18rem;
    }

    /*-------MENU BURGER-------*/
    .navbar {
        display: inline-flex;
        flex-direction: row;
    }
    .navbar li {
        float: left;
    }

    .navbar .menu {
        clear: none;
        max-height: none;
        max-width: max-content;
    }

    .navbar .menu-icon {
        display: none;
    }
    /*--------------------------*/
}

@media screen and (min-width: 1024px) {
/* The switch - the box around the slider */

nav {
    justify-content: space-between;
}
.theme {
  display: flex;
  align-items: center;
}
.theme p{
    padding: 0 2rem 0 0.5rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(36, 48, 70);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 0 0.15rem rgb(127, 162, 179);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
}
