:root {
    /* header, footer, menu-burger ... */
    --primary-color: #fff;
    /* hover on menu ...*/
    --secondary-color: #f4f4f4;
    /* p */
    --third-color: black;
    /* shadow on header, menu ...*/
    --shadow-color: rgba(56, 74, 104, 0.7);
    /* body background ...*/
    --bg-color: #b8bdc2;
    /* card background ... */
    --card-bg-color: rgb(36, 48, 70);
    /* h1, li*/
    --heading-color: black;
}

[data-theme="dark"] {
    /* header, footer, menu-burger ... */
    --primary-color: rgb(12, 0, 36);
    /* hover on menu ...*/
    --secondary-color: #34248b;
    /* p */
    --third-color: black;
    /* shadow on header, menu ...*/
    --shadow-color: rgba(136, 14, 207, 0.726);
    /* body background ...*/
    --bg-color: rgb(30, 31, 53);
    /* card background ... */
    --card-bg-color: rgb(33, 42, 77);
    /* h1, li*/
    --heading-color: rgb(117, 161, 255);
}


html {
    height: 100%;
}

body {
    background-color: var(--bg-color);
    position: relative;
    height: 100%;
    font-size: 1.25rem;
}

.wrapper {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
    line-height: 1.5rem;
    position: relative;
    min-height: 100%;
}

main {
    padding: 1rem 1rem 1rem 1rem;
    align-self: center;
    justify-content: center;
    padding-bottom: 4rem;
}

h1 {
    font-weight: 600;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    color: var(--heading-color);
}

h2 {
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

a:link {
    color: rgb(159, 225, 255);
}

a:visited {
    color: rgb(125, 166, 255);
}



/*-----------------*/
/*     NAVBAR      */
/*-----------------*/

.navbar {
    background-color: var(--primary-color);
    box-shadow: 0 0.1rem 0.4rem var(--shadow-color);
    min-height: 4.5rem;
    width: 100%;
    z-index: 3;
    position: relative;
    align-items: center;
    font-size: 1.25rem;
}

.navbar p {
    color: var(--heading-color);
}

.navbar ul {
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: var(--primary-color);
}

.navbar-brand {
    display: flex;
    float: left;
    align-items: center;
    font-size: 1.5rem;
    color: var(--third-color);
    padding: 0.5rem;
}

.navbar-brand span {
    font-size: 1.89rem;
    line-height: initial;
    font-weight: 400;
    text-transform: uppercase;

}

#navbar-brand-logo {
    width: 4rem;
    margin: -0.3rem 0.5rem -0.25rem 0;
}


.navbar li a {
    display: block;
    padding: 1.5rem 1rem;
    border-right: 1px solid var(--secondary-color);
    text-decoration: none;
    color: var(--heading-color);
}

.navbar li a:hover,
.navbar .menu-btn:hover {
    background-color: var(--secondary-color);
}

.navbar li.active a {
    font-weight: 500;
}

.navbar li a:focus {
    font-weight: 500;
}

.navbar .menu {
    clear: both;
    max-height: 0;
    transition: .2s ease-out;
}

.theme {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.theme p {
    padding: 0 2rem 0 0.5rem;
    font-size: medium;
}

.switch {
    position: relative;
    display: inline-block;
    width: 1.8rem;
    height: 1rem;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-color);
}

.slider:before {
    position: absolute;
    content: "";
    height: 0.8rem;
    width: 0.8rem;
    left: 0.1rem;
    bottom: 0.1rem;
    background-color: var(--primary-color);
}

input:checked+.slider {
    background-color: var(--shadow-color);
}

input:focus+.slider {
    box-shadow: 0 0 0 0.15rem rgb(127, 162, 179);
}

input:checked+.slider:before {
    -webkit-transform: translateX(0.8rem);
    -ms-transform: translateX(0.8rem);
    transform: translateX(0.8rem);
}

/* Rounded sliders */
.slider.round {
    border-radius: 0.5rem;
}

.slider.round:before {
    border-radius: 50%;
}

/* menu icon */

.navbar .menu-icon {
    cursor: pointer;
    float: right;
    position: relative;
    user-select: none;
    padding: 2rem;
}

.navbar .menu-icon .navicon {
    background: var(--heading-color);
    display: block;
    height: 2px;
    position: relative;
    width: 18px;
}

.navbar .menu-icon .navicon:before,
.navbar .menu-icon .navicon:after {
    background: var(--heading-color);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.navbar .menu-icon .navicon:before {
    top: 5px;
}

.navbar .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.navbar .menu-btn {
    display: none;
}

.navbar .menu-btn:checked~.menu {
    max-height: 100%;
}

.navbar .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.navbar .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.navbar .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.navbar .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.navbar .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/*------------------------*/

.container {
    align-items: flex-start;
    align-content: center;
}

.card {
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 1rem;
    background-color: var(--card-bg-color);
    color: white;
    margin-bottom: 0.5rem;
    filter: drop-shadow(0.2rem 0.3rem 0.15rem var(--shadow-color));
    transition-duration: 0.5s;
}

.card-project {
    min-width: auto;
}

.card-project span,
.card-home span {
    white-space: pre-line;
}

img.screenshot {
    max-width: 100%;
    max-height: 350px;
    display: block;
    padding: 3rem 0 1.5rem 0;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0.2rem 0.3rem 0.15rem var(--heading-color));
}

p.caption {
    font-style: italic;
}

.card-skills {
    padding: 2rem 2rem 0 2rem;
}

.card:hover {
    filter: drop-shadow(0.4rem 0.5rem 0 var(--primary-color));
    transition-duration: 0.1s;
}

.description {
    padding-bottom: 2rem;
}

.container .big-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 2rem 0;
    filter: drop-shadow(0.6rem 0.8rem 0 rgb(255, 255, 255));
}

.big-logo img {
    width: 30rem;
    transition-duration: 1s;
}

.big-logo img:hover {
    width: 30.5rem;
    margin: -0.25rem;
    transition-duration: 1s;

}

.container .portrait {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 2rem 0;
    border-radius: 50%;
    filter: drop-shadow(0.15rem 0.15rem 0.1rem var(--shadow-color));
}

.container .portrait img {
    width: 15rem;
    border-radius: 50%;
}

/*-----------------*/
/*     SKILLS      */
/*-----------------*/

.skills {
    list-style: none;
    font-size: large;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skills li {
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    padding-right: 2rem;
    width: 7rem;
    align-items: center;
}

.skills li img {
    float: left;
}

.skills li p {
    text-align: center;
}

img.skills-logo {
    width: 2rem;
    padding-right: 0.5rem;
}


/*-----------------*/
/*     FOOTER      */
/*-----------------*/

footer {
    position: absolute;
    bottom: 0;
    background-color: var(--primary-color);
    width: 100%;
    text-align: center;
    padding: 1rem 0 1rem 0;
    color: var(--heading-color);
}

footer span {
    font-family: monospace;
    vertical-align: middle;
}

/*------------------*/
/*   MEDIAQUERIES   */
/*------------------*/

@media screen and (min-width: 768px) {

    main {
        padding-bottom: 5rem;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .container-description .container {
        flex-direction: column;
    }

    .portrait {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        margin-right: 8rem;
        margin-left: 5rem;

    }

    .card {
        margin: 0.5rem;
    }

    .card.description:before {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -1.5rem;
        left: -3rem;
        border: solid 1.5rem transparent;
        border-right-color: var(--card-bg-color);
        z-index: 1;
    }

    .description {
        max-width: 25rem;
    }

    .container .card.description:not(:nth-of-type(2)) {
        margin-left: -25%;
        margin-right: 25%;
    }

    .container-description {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .skills {
        max-width: 18rem;
    }

    img.screenshot {
        max-height: 300px;
    }
    
    .container-project {
        flex-wrap: wrap;
        align-items: stretch;
    }

    .card-project,
    .card-home {
        max-width: 30rem;
    }

    /*-------MENU BURGER-------*/

    .navbar li {
        float: left;
    }

    .navbar .menu {
        clear: none;
        max-height: none;
        max-width: max-content;
        transition: none;
    }

    .navbar .menu-icon {
        display: none;
    }

    /*--------------------------*/
}

@media screen and (min-width: 1024px) {
    /* The switch - the box around the slider */

    .navbar {
        display: flex;
        justify-content: space-evenly;
    }

}